extends layout 
block content 
  section.category_detail 
    div.container.row
      h1 Category: #{category.name}
      div
          a.home-link.delete(href=category.url+'/delete') Delete Category
          a.home-link(href=category.url+'/update') Update Category
      div 
        h4 Items found: #{category_items.length}
          dl.category_items 
            each item in category_items 
              dt 
                a.style-link(href=item.url) #{item.title} ($#{item.price})
              dd #{item.description} 
            else 
              p This category has no items.