extends layout

block content
  main.container.row
      section.top
        h1= title

        if error
          p Error getting dynamic content.
        else
          p Keep track of your gaming inventory in just a few clicks!
          p The current Gameventory has the following records:
          ul
            li #[strong Items:] !{data.item_count}
            li #[strong Categories:] !{data.category_count}
          div.home-links
            a.home-link(href='/home/category/create') Add Category  
            a.home-link(href='/home/item/create') Add Item
      section.recents
        h2 Recently Added 
        ul.recents__container 
          each item in data.recents 
            li.recents__card
              div.card_img_container
                img.card__img(src=item.imageurl)
              div.card__details
                p #{item.title}
                span.tag #{item.category.name}
                span.date_diff  (#{item.date_diff}) 
              a.check-btn.home-link(href=item.url) Check
