extends layout 
block content
  section.container.row
    h1= title
    div.home-links 
      a.home-link(href='/home/item/create') Add Item

    table(style='width:100%;text-align:center', border='1')
      tr 
        th Item 
        th Category
        th Price ($) 
        th Stock 
      each item in item_list 
        tr
          td 
            a.style-link(href=item.url) #{item.title}
          td #{item.category.name}
          td #{item.price}
          td #{item.stock}