extends layout 
block content 
  section.container.row
    form(method='POST' action='' id='item_form')
      fieldset
        legend #{title}: #{item ? item.title : ''} 
        div.form-group 
          label(for='title') Title:
          input#title.form-control(type='text', placeholder='Name of Item...' name='title' required='true'
          value=(undefined===item ? '' : item.title))
        div.form-group 
          label(for='description') Description:
          textarea#description.form-control(placeholder='Item Description...' name='description' required='true' form="item_form" rows='10' cols='40') #{value=(undefined===item ? '' : item.description)}
        div.form-group 
          label(for='price') Price:
          input#price.form-control(type='number', placeholder='$29.99...' name='price' required='true'
          value=(undefined===item ? '' : item.price) step='.01')
        div.form-group 
          label(for='stock') Stock:
          input#stock.form-control(type='number', placeholder='17..' name='stock' required='true' min='1'
          value=(undefined===item ? '' : item.stock))
        div.form-group 
          label(for='category') Category:
          select#category.form-control(type='select', placeholder='Select Category' name='category' required='true')
            - categories.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;})
            for category in categories
              if item 
                option(value=category._id selected=(category._id.toString() === item.category._id.toString() ? 'selected' : false)) #{category.name}
              else 
                option(value=category._id) #{category.name}
        button.btn-submit(type='submit') Submit 

      if errors   
        ul 
          for error in errors 
            li!= error.msg